%div.jumbotron.subhead
	%h3 Justices
%table
	%tr
		%th Justice
		%th Start
		%th End

	- @justices.each do |justice|
		%tr
			%td
				%a{href: justice_url(justice.id) }=justice.name
			%td= justice.start_date.year
			%td= justice.end_date.to_s[0..3] 
			-#<-strange bug preventing #year method
