%div.hero-unit
	%div.text-center
		%h1 Legal Bacon
		%h3 Where the Law Becomes digestible


	%div.row-fluid
		%a{ href: justices_url }
			%div.span6.pad-around
				%div.btn-primary.div-buttons{ value: "Browse by Justice" }
					%h2.pad-around Browse by Justice
		%a{ href: volumes_url }
			%div.span6.pad-around
				%div.btn-primary.div-buttons{ value: "Browse by Volume" }
					%h2.pad-around Browse by Volume
