%div.container-fluid.pad
	%div.row-fluid
		%div.span3
			%div.well.sidebar-nav.sidebar-nav-fixed#sidebar.nav
				%ul.nav.nav-list.bs-docs-sidenav.navbar.bs-docs-sidebar
					-@case.paragraphs.all.each do |paragraph|
						-if paragraph.start_of_opinion
							%li
							%a{ href: "#opinion#{paragraph.opinion_id}" , style: "text-align:center;"}
								%h3=normalize_opinion_header(paragraph.text)
							

		%div.span9
			%h3{ style: "text-align:center;"}!=@case.case_name.split(/v\./).map(&:titleize).join("<br>v.<br>")
			-@case.paragraphs.all.each do |paragraph|
				-if paragraph.start_of_opinion
					%h3.pad.lead{ id: "opinion#{paragraph.opinion_id}" , style: "text-align:center;"}!=inpage_opinion_header(paragraph.text)
				-else
					%p{ id: paragraph.paragraph_index_number}!= linkify(paragraph.text)