/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.sidebar-nav-fixed {
    position:fixed;
    top:60px;
    left:0px;
    width:20%;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        position:static;
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        top:40px;
        left:0px;
    }
}

.center{
    max-width:900px;
    margin: 0 auto;
}

.fill{
    max-width:100%;
}

.pad{
    padding-top:50px;
}
.pad-around{
    padding-top:10px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.pad-not-top{
    padding-left:10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.text-center{
    text-align: center;
}

.div-buttons{
    text-align: center;
    border-radius: 15px;
}